###> app ###
!/config/certificates
/config/certificates/*
!config/certificates/.gitkeep
###< app ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> composer ###
/composer.lock -merge
###< composer ###

###> editors ###
/nbproject/*
/.settings
/.buildpath
/.project
.idea
http-client.private.env.json
###< editors ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
